@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --brand-color: #e7e439e4;
  --white: #fff;
  --toastify-toast-min-height: 5.6rem;
  --toastify-color-info: var(--info-color);
}

.Toastify__toast-container--bottom-right {
  font-size: var(--text-md);
}

body {
  font-family: "Poppins", "Open Sans", sans-serif;
}

/* iframe style was given to avoid the react overlay bug */
/* iframe {
	pointer-events: none;
} */
